@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --primary-bkd-clr: black;
    --primary-font-clr: white;
    --primary-nav-bkd-clr: grey;
}

*, *::before, *::after {
    
    color: var(--primary-font-clr);
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    background: var(--primary-bkd-clr );      
}

/* NAVBAR */

  header {
    background: var(--primary-nav-bkd-clr);
    height: 80px;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
  }

  .logo {
      height: 100%;
      text-decoration: none;
      font-size: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }

.nav-toggle {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
  
  
.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
  

  .nav-toggle-label span::before {
    display: block;
    background: white;
    height: 2px;
    width: 1em;
    border-radius: 2px;
    position: relative;
    right: 0px;
  }

  .nav-toggle-label span {
    display: block;
    background: white;
    height: 2px;
    width: 1.5em;
    border-radius: 2px;
    position: relative;
  }

  .nav-toggle-label span::after {
    display: block;
    right: 0;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top: 7px;
  }
  
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100vh;
    background-color: #595959;
    display: block;
    text-align: center;
  }
  
  nav li {
      padding-top: 5em;
  } 
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
    color: black;
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  
  @media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }
  
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    
    .logo {
        grid-column: 2 / 3;
    }
    
    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
        /* end Edge support stuff */
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    nav ul {
        height: 0vh;
        display: flex;
    }
    
    nav li {
        padding: 0;
        margin-left: 3em;
        margin-bottom: 0;
    }
    
    nav a {
        opacity: 1;
        padding: 7px 7px;
        position: relative;
        background: grey;
    }
    
    nav a::before {
        content: '';
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transition: top, left, right, bottom, 100ms ease-in-out;
    }
    
    nav a:hover::before,
    nav a:focus::before {
        top: calc(1.5px * -2);
        left: calc(1.5px * -2);
        right: calc(1.5px * -2);
        bottom: calc(1.5px * -2);
    }
}

.content {
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.content h2 {
    font-size: 1em;    
}